<form>
<form class="border p-3">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Registration</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname">
    </div>
  </div>
    <div class="col">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastname">
    </div>

  <div class="row">
    <div class="col mb-3">
      <label for="emailaddress" class="form-label">Email Address:*</label>
      <input type="email" class="form-control" id="emailaddress">
    </div>
  </div>

    <div class="row">
      <div class="col mb-3">
        <label for="mobile" class="form-label">mobile Number</label>
        <input type="text" class="form-control" id="mobile">
        <div class="from-text"></div>
      </div>
    </div>
      <div class="col ps-3">
        <div class="m-1">Gender</div>
        <div class="form-check form-check-inline">
          <input type="radio"class="form-check-input" value="m" id="Male">
          <label class="form-check-label" for="male">Male</label>
          </div>
      </div>
      <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" value="f" id="female">
            <label class="form-check-label" for="female">Female</label>
          </div>

        <div class="row">
          <div class="col mb-3">
            <label for="rpd" class="form-label">Password</label>
            <input type="password" class="form-control" id="pwd">
              </div>
        </div>
              <div class="col mb-3">
                <label for="cpwd" class="form-label">Confirm Password:</label>
                <input type="password" class="form-control" id="cpwd">
                <div class="form-text">
                </div>
              </div>
              <div class="row">
                <div class="col-6 offset-3">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                </div>
              </form>











