.sidebar {
  height: 100%;
  width: 100px;
  position: fixed;
  top: 1;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  color: white;
}

/* Style for the links inside the sidebar */
.sidebar a {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
}

/* Change color on hover */
.sidebar a:hover {
  background-color: #555;
}
